* {
    margin: 0;
    padding: 0;
} 

.main {
    display: flex;
    justify-content: center;
    gap: 50px;
    background-color: black;
    padding: 30px;
    position: sticky;
    top: 0;
}

ul li {
    display: inline-block;
}

.link {
    color: white;
    text-decoration: none;
}

